<h1>User Orders</h1>
<table>
  <th>Order ID</th>
  <th>Status</th>
  <th>Created At</th>
  <th>Updated At</th>
  <th>Total Quantity</th>
  <th>Grand Total</th>

<% @orders.each do |order| %>
  <tr>
  <section id="orders-<%= order.id %>">
  <td><%= link_to order.id, "/profile/orders/#{order.id}" %></td>
  <% order.order_fulfilled? %>
  <td><%= order.status %></td>
  <td><%= order.created_at.strftime("%_m/%e/%C") %></td>
  <td><%= order.updated_at.strftime("%_m/%e/%C") %></td>
  </section>
  <section id="total-quantity-<%= order.id %>">
    <td><%= order.total_quantity%></td>
  </section>
  <section id="grand-total-<%= order.id %>">
    <td>$<%= order.grandtotal%></td>
  </section>
  </tr>
<% end %>
</table>
