<h1>All Avaiable Discounts</h1>

<% @discounts.each do |discount| %>
<section id= 'discount-<%=discount.id%>'>
  <p> <%= discount.name %> </p>
  <p>Quantity Required: <%= discount.quantity_required %></p>
  <p>Percentage Off: <%= discount.percentage %>%</p>
  <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit" %>
</section>
<% end %>
