<center>
<h1>All Avaiable Discounts</h1>

<%= button_to "Create New Discount", "/merchant/discounts/new", method: :get %>

<% @discounts.each do |discount| %>
<section id= 'discount-<%=discount.id%>'>
  <p> <%= discount.name %> </p>
  <p>Quantity Required: <%= discount.quantity_required %></p>
  <p>Percentage Off: <%= discount.percentage %>%</p>
  <p>Discounted Item: <%= link_to discount.item.name, "/merchant/items/#{discount.item.id}" %> </p>
  <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit" %> <br><br>
  <%= button_to "Delete Discount", "/merchant/discounts/#{discount.id}", method: :delete %>
</section>
<% end %>
</center>
