<center>
<h1>Create New Discount</h1>

  <%= form_tag "/merchant/discounts", method: :post  do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>

    <%= label_tag :quantity_required %>
    <%= text_field_tag :quantity_required %>

    <%= label_tag :percentage %>
    <%= text_field_tag :percentage %>

    <%= label_tag :item %>
    <%= collection_select(:item, :post, @merchant.items.collect {|item| [ item.name, item.id ] }, {prompt: 'Select Item'}) %>


    <%# <% @merchant.items.each do |item| %> %>
      <%# <section id="item-<%= item.id %>"> %>
        <%# <%= label_tag item.name %> %>
        <%# <%= check_box_tag 'item', item %> %>
      <!-- </section> -->
    <%# <% end %> %>

    <%= submit_tag 'Create Discount' %>
  <% end %>
</center>
